---
import {Icon} from 'astro-icon'
import {
  AnnouncementBar,
  Button,
  StickyTextImageSection,
  CtaCardSection,
  Container
} from '@littlesticks/odyssey-theme-components';
import PhotoGridSection from '../../components/sections/PhotoGridSection.astro'
import Layout from '../layouts/Page.astro';
import HomeHeroSection from '../components/sections/heros/HomeHeroSection.astro';
import CustomerQuoteSection from '../../components/sections/CustomerQuoteSection.astro';
import HeroSection from '../components/sections/heros/HeroSection.astro';

const seo = {
	title: 'Popstar Photo Booths | Photo Booth Rental in Raleigh, NC',
	description: 'Photo booth rental in Raleigh',
};
---

<!-- <AnnouncementBar text="Did you love working with us? Leave a Google review and support a small business!" href="https://g.page/r/CczYNMDcHxyIEBM/review" slot="announcement-bar"/> -->
<Layout seo={seo} >
  <Container>
    <section class="hero-section__section">
      <div class="hero-section__text">
        <h1>$500 Photo Booth Rental</h1>
          <p>
            No Quotes. No Back and Forth. $500 Flat.
          </p>
        <div class="hero-btns__container">
          <Button href="/contact" customIcon>Check Availability
          <Fragment slot="icon">
          <Icon name="ic:baseline-chevron-right"/>
          </Fragment>
          </Button>
        </div>
      </div>
      <div class="hero-section__image">
        <picture>
          <img
            src="/assets/images/header.jpg"
            alt="Astro Odyssey"
            id="home-hero-image"
          />
        </picture>
    </div>
    </section>
  </Container>
	<CustomerQuoteSection
  quoteText="Dan and his team are amazing at ensuring your guests have fun creating memories with his various photobooths! You will not be disappointed!"
  customerName="Micah Brown - Amore Planning Co."
  imageUrl="/assets/images/reviews.png"
/>
<Container>
  <section class="hero-section__section">
    <div class="hero-section__text">
      <h1>What's Included?</h1>
      <p>
       1. Unlimited digital photos, gifs, boomerangs and videos.<br>
       2. Text and email your photos.<br>
       3. Real time live gallery of all your event photos.<br>
       4. Instagram style filters and glam photo filters.<br>
       5. Custom Tap To Start screen.<br>
       6. One custom photo frame overlay.<br>
       7. Choice of backdrop.<br>
      </p>
    </div>
    <div class="hero-section__image">
      <picture>
        <img
          src="/assets/images/salsa-header.jpeg"
          alt="Astro Odyssey"
          id="home-hero-image"
        />
      </picture>
  </div>
  </section>
</Container>
  <div class="partners">
    <div class="centered"><h3>Our Partners</h3></div>
    <div class="trusted-by-section">
      <img src="/assets/images/bccc.png" alt="Company Logo" class="trusted-logo" />
      <img src="/assets/images/traine.png" alt="Company Logo" class="trusted-logo" />
      <img src="/assets/images/cam.png" alt="Company Logo" class="trusted-logo" />
      <img src="/assets/images/wfh.png" alt="Company Logo" class="trusted-logo" />
      <img src="/assets/images/loop.png" alt="Company Logo" class="trusted-logo" />
      <img src="/assets/images/dbc.png" alt="Company Logo" class="trusted-logo" />
      <img src="/assets/images/sofar.png" alt="Company Logo" class="trusted-logo" />
      <img src="/assets/images/recity.png" alt="Company Logo" class="trusted-logo" />
      <img src="/assets/images/foundation.png" alt="Company Logo" class="trusted-logo" />
    </div>
  </div>
  <Container>
    <section class="hero-section__section">
      <div class="hero-section__text">
        <h1>How To Book</h1>
        <p>
         1. Fill out our <a href="/contact">date inquiry form</a><br>
         2. You will receive an immediate email of availability.<br>
         3. If your date is open you will receive a link to book.<br>
         4. Secure your date with a $99 deposit.<br>
         5. Finalize backdrop, start screen and photo overlay.<br>
         6. Any questions call <a href="tel:9192787226">919-278-722</a>.
        </p>
      </div>
      <div class="hero-section__image">
        <picture>
          <img
            src="/assets/images/getlit.jpeg"
            alt="Astro Odyssey"
            id="home-hero-image"
          />
        </picture>
    </div>
    </section>
  </Container>
  <CustomerQuoteSection
  quoteText="Danny is a delight to work with and the pictures are wonderful! Will definitely use him again!"
  customerName="Christine Worsham - Wines for Humanity"
  imageUrl="/assets/images/reviews.png"
/>
  <div class="features mg">
    <h3 class="centered">Capture Modes</h3>
    <PhotoGridSection>
      <div slot="column-1-body">
        <video src="/assets/images/gifs.mp4" alt="Custom Template" controls autoplay style="max-width: 100%; height: auto;" />
      </div>
      <div slot="column-2-body">
        <video src="/assets/images/boomerangs.mp4" alt="Custom Template" controls autoplay style="max-width: 100%; height: auto;" />
      </div>
      <div slot="column-3-body">
        <video src="/assets/images/videos.mp4" alt="Custom Template" controls autoplay style="max-width: 100%; height: auto;" />
      </div>
    </PhotoGridSection>    
  <div class="templates mg">
    <h3 class="centered">Custom Templates</h3>
    <PhotoGridSection>
      <div slot="column-1-body">
        <img src="/assets/images/popstar.jpg" alt="Custom Template" />
      </div>
      <div slot="column-2-body">
        <img src="/assets/images/prom.jpeg" alt="Custom Template" />
      </div>
      <div slot="column-3-body">
        <img src="/assets/images/glam1.jpg" alt="Custom Template" />
      </div>
    </PhotoGridSection>
  </div>
  <div class="backdrops mg">
    <h3 class="centered">Backdrops</h3>
    <PhotoGridSection>
      <div slot="column-1-body">
        <img src="/assets/images/bd-1.jpeg" alt="Backdrop" />
      </div>
      <div slot="column-2-body">
        <img src="/assets/images/bd-2.jpeg" alt="Backdrop" />
      </div>
      <div slot="column-3-body">
        <img src="/assets/images/bd-3.jpeg" alt="Backdrop" />
      </div>
    </PhotoGridSection>
    <PhotoGridSection>
      <div slot="column-1-body">
        <img src="/assets/images/bd-4.jpeg" alt="Backdrop" />
      </div>
      <div slot="column-2-body">
        <img src="/assets/images/bd-5.jpeg" alt="Backdrop" />
      </div>
      <div slot="column-3-body">
        <img src="/assets/images/bd-6.jpeg" alt="Backdrop" />
      </div>
    </PhotoGridSection>
  </div>
  <CustomerQuoteSection
  quoteText="Great service, and experience! Thank you Danny!"
  customerName="Joseph Headen - High Society"
  imageUrl="/assets/images/reviews.png"
/>
<div class="google-review-section">
  <Container wide>
    <h3 style="text-align: center;">Customer Love</h3>
    <script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
    <div class="elfsight-app-195d11b9-5a7c-406e-aeb6-0bc3cae6ea19" data-elfsight-app-lazy></div>
  </Container>
  </div>
<HeroSection>
  <div slot="text-container">
    <h1>Meet the Owners</h1>
    <p>
      Popstar Photo Booths was founded by husband and wife duo, Danny and Danea Sullivan. With Danny's experience as a professional baseball player and Danea's history as a Disney World dancer, they both understand the intricate details and dedication necessary for success. Their diverse experiences are the backbone of their commitment to taking your event to a higher level. Trust them to bring a unique touch to your occasion with their balanced blend of passion and professionalism. For an event that truly stands out, contact Popstar Photo Booths today!
    </p>
  </div>
  <picture slot="image-container">
    <img
      src="/assets/images/about.jpg"
      alt="About us"
      id="home-hero-image"
    />
  </picture>
</HeroSection>
  <CtaCardSection>
  <h2>Ready to get started?</h2>
  <p>Let's do it!</p>
  <Button href="/contact" customIcon>
    Check Availability
    <Fragment slot="icon">
      <Icon name="ic:baseline-chevron-right" />
    </Fragment>
  </Button>
</CtaCardSection>
</Layout>

<style>

.hero-section__section {
	margin: var(--section-margin) auto;
	min-height: clamp(90vh, 100vw, calc(100vh - var(--navbar-height)));
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	gap: 1rem;
}
.hero-section__text {
	justify-self: center;
	max-width: 25rem;
}
.hero-btns__container {
	display: flex;
	align-items: center;
	gap: 1rem;
}
.hero-btns__container {
	margin-right: 1rem;
}
.hero-section__image {
	display: flex;
}
.hero-section__image img {
	width: 100%;
	height: 100%;
	max-height: 80vh;
	object-fit: cover;
	border-radius: var(--theme-shape-radius);
}

.hero-section__text img {
  max-width: 75%;
  margin-top: 1rem;
}

@media (max-width: 768px) {
	.hero-section__section {
		grid-template-columns: 1fr;
	}
}

.trusted-by-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px; 
}

.trusted-logo {
  max-width: 100px; /* Adjust the size as needed */
  margin: 0 10px; /* Provides horizontal spacing */
}


.partners {
  margin: calc(var(--section-margin) * 2) auto;
  padding: 3rem;
  background-color: var(--theme-surface-1);
  text-align: center;
}

.centered {
  text-align: center;
}

.partners img {
  border-radius: var(--theme-shape-radius);
}

.gallery img {
  border-radius: var(--theme-shape-radius);
}

/* .rockstar img {
  border-radius: var(--theme-shape-radius);
} */

.backdrops {
  margin-top: 2rem;
}

.mg {
  margin-top: 2rem;
}

/* .google-review-section{
  margin-top: 2rem;
} */

@media (max-width: 768px) { /* Adjust breakpoint as needed */
  .trusted-by-section {
    flex-direction: column;
    align-items: center;
  }

  .trusted-logo {
    max-width: 100px; /* Smaller size for mobile */
    margin: 10px 0; /* Adjust margin for vertical layout */
  }
}
</style>
