---
import {Icon} from 'astro-icon'
import {
  Button,
  StickyTextImageSection,
  CtaCardSection,
} from '@littlesticks/odyssey-theme-components';
import Layout from '../layouts/Page.astro';
const seo = {
	title: 'Popstar Photo Booths | Popstar Photo Booth Rental in Raleigh, NC',
	description: 'Photo booth rental in Raleigh',
};
---

<!-- <AnnouncementBar text="Did you love working with us? Leave a Google review and support a small business!" href="https://g.page/r/CczYNMDcHxyIEBM/review" slot="announcement-bar"/> -->
<Layout seo={seo} >
  <StickyTextImageSection>
    <div slot="text-container">
      <h2>The Popstar Booth</h2>
      <p>
        <ul>
          <li>Unlimited digital photos</li>
          <li>Instagram style filters</li>
          <li>Text and email your photos</li>
          <li>Real time live gallery of all your event photos</li>
          <li>Color and black and white (glam) options</li>
      </ul>
      </p>
      <h3>Perfect For</h3>
      <p>
        <ul>
          <li>Weddings</li>
          <li>Concerts</li>
          <li>Birthdays</li>
          <li>Holiday Parties</li>
          <li>Brand Activations</li>
          <li>Corporate Events</li>
      </ul>
      </p>
      <Button href="https://popstar-photo-booths.checkcherry.com/reservation/" slot="column-1-cta">See Packages</Button>
    </div>
     <picture slot="image-container">
      <img
        src="/assets/images/salsa-booth.jpeg"
        alt="Popstar Photo Booths"
        loading="lazy"
      />
    </picture>
  </StickyTextImageSection>
  <CtaCardSection>
  <h2>Ready to get started?</h2>
  <p>Let's do it!</p>
  <Button href="https://popstar-photo-booths.checkcherry.com/reservation/" customIcon>
    See Packages
    <Fragment slot="icon">
      <Icon name="ic:baseline-chevron-right" />
    </Fragment>
  </Button>
</CtaCardSection>
</Layout>

<style>

.trusted-by-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px; 
}

.trusted-logo {
  max-width: 100px; /* Adjust the size as needed */
  margin: 0 10px; /* Provides horizontal spacing */
}


.partners {
  margin: calc(var(--section-margin) * 2) auto;
  padding: 3rem;
  background-color: var(--theme-surface-1);
  text-align: center;
}

.centered {
  text-align: center;
}

.partners img {
  border-radius: var(--theme-shape-radius);
}

.gallery img {
  border-radius: var(--theme-shape-radius);
}

/* .rockstar img {
  border-radius: var(--theme-shape-radius);
} */

.backdrops {
  margin-top: 2rem;
}

.mg {
  margin-top: 2rem;
}

/* .google-review-section{
  margin-top: 2rem;
} */

@media (max-width: 768px) { /* Adjust breakpoint as needed */
  .trusted-by-section {
    flex-direction: column;
    align-items: center;
  }

  .trusted-logo {
    max-width: 100px; /* Smaller size for mobile */
    margin: 10px 0; /* Adjust margin for vertical layout */
  }
}
</style>
