---
import {Icon} from 'astro-icon'
import {
  AnnouncementBar,
  Button,
  StickyTextImageSection,
  CtaCardSection,
} from '@littlesticks/odyssey-theme-components';
import PhotoGridSection from '../../components/sections/PhotoGridSection.astro'
import Layout from '../layouts/Page.astro';

const seo = {
	title: 'Popstar Photo Booths | Rockstar Photo Booth Rental in Raleigh, NC',
	description: 'Photo booth rental in Raleigh',
};
---

<!-- <AnnouncementBar text="Did you love working with us? Leave a Google review and support a small business!" href="https://g.page/r/CczYNMDcHxyIEBM/review" slot="announcement-bar"/> -->
<Layout seo={seo} >
  <div class="rockstar">
  <StickyTextImageSection>
    <div slot="text-container">
      <h2>The Rockstar Booth</h2>
      <h3>Features</h3>
      <p>
        <ul>
		  <li>Professional quality lighting</li>
		  <li>Unlimited professional photos</li>
          <li>Glam Mode option</li>
          <li>Unlimited prints</li>
		  <li>Photos, videos, gifs, boomerangs</li>
          <li>Instagram style filters</li>
          <li>Text, email, air drop and QR code sharing</li>
          <li>Real time live gallery of all your event photos</li>
		  <li>Custom photo templates</li>
		  <li>Custom tap to start screen</li>
      </ul>
      </p>
      <h3>Pefect For</h3>
      <p>
        <ul>
		     <li>Upscale Weddings</li>
		     <li>Red Carpet Events</li>
          <li>High Budget Parties</li>
      </ul>
      </p>
      <Button href="https://popstar-photo-booths.checkcherry.com/reservation/" slot="column-1-cta">See Packages</Button>
      
    </div>
     <picture slot="image-container">
      <img
        src="/assets/images/rockstar-booth.jpg"
        alt="Popstar Photo Booths"
        loading="lazy"
      />
    </picture>
  </StickyTextImageSection>
  <div class="gallery mg">
    <h3 class="centered">Gallery</h3>
    <PhotoGridSection>
      <div slot="column-1-body">
        <img src="/assets/images/rock-1.jpeg" alt="Form" />
      </div>
      <div slot="column-2-body">
        <img src="/assets/images/rock-2.jpeg" alt="Select Date" />
      </div>
      <div slot="column-3-body">
        <img src="/assets/images/rock-3.jpeg" alt="Add Ons" />
      </div>
    </PhotoGridSection>
    <PhotoGridSection>
      <div slot="column-1-body">
        <img src="/assets/images/rock-4.jpeg" alt="Back Drops" />
      </div>
      <div slot="column-2-body">
        <img src="/assets/images/rock-5.jpeg" alt="Venue" />
          </div>
      <div slot="column-3-body">
        <img src="/assets/images/rock-6.jpeg" alt="Review" />
      </div>
    </PhotoGridSection>
    <PhotoGridSection>
      <div slot="column-1-body">
        <img src="/assets/images/rock-7.jpeg" alt="Back Drops" />
      </div>
      <div slot="column-2-body">
        <img src="/assets/images/rock-8.jpeg" alt="Venue" />
          </div>
      <div slot="column-3-body">
        <img src="/assets/images/rock-9.jpeg" alt="Review" />
      </div>
    </PhotoGridSection>
    </div>
  </div>
  <CtaCardSection>
  <h2>Ready to get started?</h2>
  <p>Let's do it!</p>
  <Button href="https://popstar-photo-booths.checkcherry.com/reservation/" customIcon>
    See Packages
    <Fragment slot="icon">
      <Icon name="ic:baseline-chevron-right" />
    </Fragment>
  </Button>
</CtaCardSection>
</Layout>

<style>

.trusted-by-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px; 
}

.trusted-logo {
  max-width: 100px; /* Adjust the size as needed */
  margin: 0 10px; /* Provides horizontal spacing */
}


.partners {
  margin: calc(var(--section-margin) * 2) auto;
  padding: 3rem;
  background-color: var(--theme-surface-1);
  text-align: center;
}

.centered {
  text-align: center;
}

.partners img {
  border-radius: var(--theme-shape-radius);
}

.gallery img {
  border-radius: var(--theme-shape-radius);
}

/* .rockstar img {
  border-radius: var(--theme-shape-radius);
} */

.backdrops {
  margin-top: 2rem;
}

.mg {
  margin-top: 2rem;
}

/* .google-review-section{
  margin-top: 2rem;
} */

@media (max-width: 768px) { /* Adjust breakpoint as needed */
  .trusted-by-section {
    flex-direction: column;
    align-items: center;
  }

  .trusted-logo {
    max-width: 100px; /* Smaller size for mobile */
    margin: 10px 0; /* Adjust margin for vertical layout */
  }
}
</style>
